/****GENERAL*****/
*{
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

a{
	padding: 0;
	margin: 0;
	text-decoration: none;
	-webkit-transition: background-color .4s linear, color .4s linear;
	-moz-transition: background-color .4s linear, color .4s linear;
	-o-transition: background-color .4s linear, color .4s linear;
	-ms-transition: background-color .4s linear, color .4s linear;
	transition: background-color .4s linear, color .4s linear;
}

p{
  font-family: 'Slabo 27px', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

i{
  font-family: 'Slabo 27px', serif;
}

a:hover, a:focus{
  text-decoration: none;
  color: #D9F5BE;
}

.container-fluid{
  margin: 0px;
  padding: 0px;
}

.carousel-inner>.item>img{
  width: 100%;
  height: 670px;
}

.container-fluid>h2{
  margin-top: 100px;
}

.navbar {
	min-height: 70px;
	padding-top: 10px;
	margin-bottom: 0px;
}

.navbar-default {
	background-color: #0B8389;
	border-color: transparent;
}

.navbar-brand {
	font-family: 'Raleway', sans-serif;
	letter-spacing: 3px;
  word-spacing: 0.3em;
  font-size: 24px;
}

/*warna menu*/
.navbar-header .navbar-brand {
	color: white;
}


/*berubah warna hover pada menu*/
.navbar-default .navbar-nav > li > a:hover {
	color: #D9F5BE;
}

.navbar-default .navbar-nav>li>a{
  font-family: 'Raleway', sans-serif;
  color: white;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover{
  color:  #D9F5BE;
  background-color: transparent;
}

.dropdown-menu > li > a{
  color: white;
  background-color: #0B8389;
  border-color: transparent;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover{
  background-color: #0B8389;
  color: white;
}

ul .dropdown-menu{
  background-color: #0B8389;
}

.dropdown-menu > li > a{
  font-family: 'Raleway', sans-serif;
  line-height: 2em;
}

.carousel-caption>h1{
  font-family: 'Raleway', sans-serif;
  letter-spacing: 3px;
  word-spacing: 0.3em;
  font-size: 64px;
}

.carousel-caption>p{
  margin-bottom: 220px;
  letter-spacing: 1px;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
}

hr{
  margin: 30px 550px;
  border-bottom: 4px solid #91CED7;
}

.card{
  padding: 20px 0 40px 0;
}

.card-img-top{
  width: 50%;
  height: 250px;
  margin: 50px 30px;
}

.card-title>a{
  font-family: 'Raleway', sans-serif;
  color: #0B8389;
  margin-bottom: 100px;
}

.card-title>a:hover{
  color: #777;
}

.card-text{
  font-size: 20px;
  padding: 0 90px;
}

.bg-3{
  background-color: #64C4AF;
  padding-bottom: 100px;
}

.bg-3>h2{
  /*color: white;*/
}

.bg-4{
  background-color: #2f2f2f;
  color: #ffffff;
  font-size: 18px;
  padding: 50px 0;
  margin-bottom: 0px;
}

#footer{
  margin-bottom: 0;
}

#hr-reviews{
  border-top: transparent;
  border-bottom: solid 4px #0B8389;
  margin-bottom: 80px;
}

#want-a-service-btn{
  margin-bottom: 70px;
}

.col-sm-4 > .card > .card-img-top {
  margin: 20px 30px;
  padding: 0;
  width: 250px;
  height: 250px;
}

.social-medias{
  display: inline-block;
  padding-left: 70%;
}

.social{
  margin-right: 10px;
}


.bg-2>.container>h1{
  margin-bottom: 70px;
}

#accordion>.panel-default>.panel-heading{
  background-color: #64C4AF;
}

.panel-group .panel{
  margin-bottom: 15px;
}

.penjelasan{
  margin-top: 120px;
}

.about-organizer{
font-size: 16px;
}

.our-team{
  margin-top: 100px;
}

.col-lg-12>.card>img{
width:250px;
height: 250px;
}


#footer>.container-fluid .bg-4{
  margin: 0;
}

form{
  margin-top: 50px;
  margin-left: 150px;
}

.bg-2>.container>.text-center{
margin-top: 100px;
}

/*CSS BAGIAN ABOUT*/
.bg-3-about{
  padding: 70px 0;
  background-color: #64C4AF;
}

.bg-2-about{
  padding-bottom: 200px;
  background-image: url("../assets/img/bg-about.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

.about-organizer{
  padding: 30px;
  font-size: 28px;
  color: white;
  background-color: rgba(11, 130, 136, 0.6);
}

.about-title{
  color: white;
  word-spacing: 3px;
  letter-spacing: 0.2em;
}

#hr-about-title{
  margin: 50px 350px;
  border-top: transparent;
  border-bottom: 4px solid #91CED7;
}

#hr-about-our-team{
  margin: 50px 450px;
  border-top: transparent;
  border-bottom: 4px solid #0B8389;
}

/*BAGIAN FAQ*/
.bg-2-faq{
  margin: 70px 0 0 0;
  padding: 30px 0 100px 0;
  background-image: url("../assets/img/bg-faq-2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

.container-fluid .bg-2-faq>.container{
  background-color: rgba(11, 130, 136, 0.6);
  margin: 70px auto;
  padding-bottom: 70px;
}

#faq{
  margin: 50px 0;
  color: white;
  font-weight: 600;
}

.panel{
  margin: 0 150px;
  border: none;
}

.list-faq{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

.panel-body{
  font-family: 'Slabo 27px', serif;
  font-size: 18px;
}

/*BAGIAN SIGN-IN*/
.container-fluid .bg-2-sign-in{
  margin: 100px 0;
}
